In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [32]:
df = pd.read_csv('covid_vaccine_statewise.csv')

In [33]:
df.head()

,Updated On,State,Total Doses Administered,Sessions,Sites,First Dose Administered,Second Dose Administered,Male (Doses Administered),Female (Doses Administered),Transgender (Doses Administered),...,18-44 Years (Doses Administered),45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
0,16/01/2021,India,48276.0,3455.0,2957.0,48276.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,23757.0,24517.0,2.0,48276.0
1,17/01/2021,India,58604.0,8532.0,4954.0,58604.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,27348.0,31252.0,4.0,58604.0
2,18/01/2021,India,99449.0,13611.0,6583.0,99449.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,41361.0,58083.0,5.0,99449.0
3,19/01/2021,India,195525.0,17855.0,7951.0,195525.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,81901.0,113613.0,11.0,195525.0
4,20/01/2021,India,251280.0,25472.0,10504.0,251280.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,98111.0,153145.0,24.0,251280.0

In [34]:
df.describe()

,Total Doses Administered,Sessions,Sites,First Dose Administered,Second Dose Administered,Male (Doses Administered),Female (Doses Administered),Transgender (Doses Administered),Covaxin (Doses Administered),CoviShield (Doses Administered),...,18-44 Years (Doses Administered),45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
count,7.621000e+03,7.621000e+03,7621.000000,7.621000e+03,7.621000e+03,7.461000e+03,7.461000e+03,7461.000000,7.621000e+03,7.621000e+03,...,1.702000e+03,1.702000e+03,1.702000e+03,3.733000e+03,3.734000e+03,3.734000e+03,1.600000e+02,1.600000e+02,160.000000,5.919000e+03
mean,9.188171e+06,4.792358e+05,2282.872064,7.414415e+06,1.773755e+06,3.620156e+06,3.168416e+06,1162.978019,1.044669e+06,8.126553e+06,...,8.773958e+06,7.442161e+06,5.641605e+06,1.395895e+06,2.916515e+06,2.627444e+06,4.461687e+07,3.951018e+07,12370.543750,4.547842e+06
std,3.746180e+07,1.911511e+06,7275.973730,2.995209e+07,7.570382e+06,1.737938e+07,1.515310e+07,5931.353995,4.452259e+06,3.298414e+07,...,2.660829e+07,2.225999e+07,1.681650e+07,5.501454e+06,9.567607e+06,8.192225e+06,3.950749e+07,3.417684e+07,12485.026753,1.834182e+07
min,7.000000e+00,0.000000e+00,0.000000,7.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,0.000000,0.000000e+00,7.000000e+00,...,2.662400e+04,1.681500e+04,9.994000e+03,1.059000e+03,1.136000e+03,5.580000e+02,2.375700e+04,2.451700e+04,2.000000,7.000000e+00
25%,1.356570e+05,6.004000e+03,69.000000,1.166320e+05,1.283100e+04,5.655500e+04,5.210700e+04,8.000000,0.000000e+00,1.331340e+05,...,4.344842e+05,2.326275e+05,1.285605e+05,5.655400e+04,9.248225e+04,5.615975e+04,5.739350e+06,5.023407e+06,1278.750000,7.427550e+04
50%,8.182020e+05,4.547000e+04,597.000000,6.614590e+05,1.388180e+05,3.897850e+05,3.342380e+05,113.000000,1.185100e+04,7.567360e+05,...,3.095970e+06,2.695938e+06,1.805696e+06,2.947270e+05,8.330395e+05,7.887425e+05,3.716590e+07,3.365402e+07,8007.500000,4.022880e+05
75%,6.625243e+06,3.428690e+05,1708.000000,5.387805e+06,1.166434e+06,2.735777e+06,2.561513e+06,800.000000,7.579300e+05,6.007817e+06,...,7.366241e+06,6.969726e+06,5.294763e+06,9.105160e+05,2.499280e+06,2.337874e+06,7.441663e+07,6.685368e+07,19851.000000,3.501562e+06
max,5.132284e+08,3.501031e+07,73933.000000,4.001504e+08,1.130780e+08,2.701636e+08,2.395186e+08,98275.000000,6.236742e+07,4.468251e+08,...,2.243304e+08,1.667575e+08,1.186927e+08,9.224315e+07,9.096888e+07,6.731098e+07,1.349420e+08,1.156684e+08,46462.000000,2.506569e+08

In [35]:
df.shape

(7845, 24)

In [36]:
df.isnull().sum()

Updated On                                0
State                                     0
Total Doses Administered                224
Sessions                                224
 Sites                                  224
First Dose Administered                 224
Second Dose Administered                224
Male (Doses Administered)               384
Female (Doses Administered)             384
Transgender (Doses Administered)        384
 Covaxin (Doses Administered)           224
CoviShield (Doses Administered)         224
Sputnik V (Doses Administered)         4850
AEFI                                   2407
18-44 Years (Doses Administered)       6143
45-60 Years (Doses Administered)       6143
60+ Years (Doses Administered)         6143
18-44 Years(Individuals Vaccinated)    4112
45-60 Years(Individuals Vaccinated)    4111
60+ Years(Individuals Vaccinated)      4111
Male(Individuals Vaccinated)           7685
Female(Individuals Vaccinated)         7685
Transgender(Individuals Vaccinated)    7685
Total Individuals Vaccinated           1926
dtype: int64

In [37]:
min_count =  int(((100-40)/100)*df.shape[1] + 1)
df = df.dropna( axis=0, thresh=min_count)

In [38]:
df.head()

,Updated On,State,Total Doses Administered,Sessions,Sites,First Dose Administered,Second Dose Administered,Male (Doses Administered),Female (Doses Administered),Transgender (Doses Administered),...,18-44 Years (Doses Administered),45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
59,16/03/2021,India,31870745.0,5366679.0,33886.0,25709257.0,6161488.0,NaN,NaN,NaN,...,NaN,NaN,NaN,7822654.0,8321177.0,9549294.0,13993527.0,11713149.0,2581.0,25709257.0
60,17/03/2021,India,36496020.0,5183313.0,31807.0,30011328.0,6484692.0,NaN,NaN,NaN,...,NaN,NaN,NaN,7949980.0,9106642.0,12938115.0,16266085.0,13742026.0,3217.0,30011328.0
61,18/03/2021,India,38770404.0,5880856.0,38208.0,31952935.0,6817469.0,NaN,NaN,NaN,...,NaN,NaN,NaN,8086204.0,9587964.0,14261942.0,17311577.0,14637915.0,3443.0,31952935.0
62,19/03/2021,India,41309219.0,6385874.0,41625.0,34228371.0,7080848.0,NaN,NaN,NaN,...,NaN,NaN,NaN,8219288.0,10165734.0,15826268.0,18492473.0,15732206.0,3692.0,34228371.0
63,20/03/2021,India,43877868.0,6470646.0,42178.0,36568988.0,7308880.0,NaN,NaN,NaN,...,NaN,NaN,NaN,8358591.0,10766621.0,17426476.0,19688923.0,16876137.0,3928.0,36568988.0

In [39]:
df.shape

(5436, 24)

In [40]:
df.isnull().sum()

Updated On                                0
State                                     0
Total Doses Administered                  0
Sessions                                  0
 Sites                                    0
First Dose Administered                   0
Second Dose Administered                  0
Male (Doses Administered)               101
Female (Doses Administered)             101
Transgender (Doses Administered)        101
 Covaxin (Doses Administered)             0
CoviShield (Doses Administered)           0
Sputnik V (Doses Administered)         2441
AEFI                                      0
18-44 Years (Doses Administered)       3734
45-60 Years (Doses Administered)       3734
60+ Years (Doses Administered)         3734
18-44 Years(Individuals Vaccinated)    1703
45-60 Years(Individuals Vaccinated)    1702
60+ Years(Individuals Vaccinated)      1702
Male(Individuals Vaccinated)           5335
Female(Individuals Vaccinated)         5335
Transgender(Individuals Vaccinated)    5335
Total Individuals Vaccinated           1702
dtype: int64

In [41]:
df = df.drop(['Male(Individuals Vaccinated)', 'Female(Individuals Vaccinated)', 'Transgender(Individuals Vaccinated)'],axis = 1)

In [45]:
df.shape

(5436, 21)

In [42]:
group = df.groupby("State")

In [43]:
group['First Dose Administered'].agg([np.sum])

                                                   sum
State
Andaman and Nicobar Islands               1.618536e+07
Andhra Pradesh                            1.213091e+09
Arunachal Pradesh                         4.802236e+07
Assam                                     5.769440e+08
Bihar                                     1.447376e+09
Chandigarh                                4.403833e+07
Chhattisgarh                              7.811960e+08
Dadra and Nagar Haveli and Daman and Diu  3.309826e+07
Delhi                                     6.120877e+08
Goa                                       7.506311e+07
Gujarat                                   2.091952e+09
Haryana                                   7.463051e+08
Himachal Pradesh                          3.124296e+08
India                                     2.779994e+10
Jammu and Kashmir                         4.022143e+08
Jharkhand                                 5.931097e+08
Karnataka                                 1.849030e+09
Kerala                                    1.172565e+09
Ladakh                                    1.740463e+07
Lakshadweep                               4.288468e+06
Madhya Pradesh                            1.769555e+09
Maharashtra                               2.743098e+09
Manipur                                   6.581043e+07
Meghalaya                                 6.136038e+07
Mizoram                                   4.697897e+07
Nagaland                                  4.154262e+07
Odisha                                    1.013631e+09
Puducherry                                4.092590e+07
Punjab                                    5.782158e+08
Rajasthan                                 2.158349e+09
Sikkim                                    3.630308e+07
Tamil Nadu                                1.272734e+09
Telangana                                 8.691234e+08
Tripura                                   1.894284e+08
Uttar Pradesh                             2.740321e+09
Uttarakhand                               3.573564e+08
West Bengal                               1.759572e+09

In [44]:
group['Second Dose Administered'].agg([np.sum])

                                                   sum
State
Andaman and Nicobar Islands               4.067337e+06
Andhra Pradesh                            3.546311e+08
Arunachal Pradesh                         1.171354e+07
Assam                                     1.296856e+08
Bihar                                     2.670690e+08
Chandigarh                                1.152356e+07
Chhattisgarh                              1.697363e+08
Dadra and Nagar Haveli and Daman and Diu  4.506390e+06
Delhi                                     1.866747e+08
Goa                                       1.606005e+07
Gujarat                                   5.938450e+08
Haryana                                   1.569462e+08
Himachal Pradesh                          7.296004e+07
India                                     6.680902e+09
Jammu and Kashmir                         8.533163e+07
Jharkhand                                 1.206596e+08
Karnataka                                 4.212501e+08
Kerala                                    3.601991e+08
Ladakh                                    5.413390e+06
Lakshadweep                               1.049975e+06
Madhya Pradesh                            3.123594e+08
Maharashtra                               7.074148e+08
Manipur                                   1.174434e+07
Meghalaya                                 1.203038e+07
Mizoram                                   9.818919e+06
Nagaland                                  9.054455e+06
Odisha                                    2.472168e+08
Puducherry                                8.559033e+06
Punjab                                    1.201283e+08
Rajasthan                                 4.852272e+08
Sikkim                                    9.635708e+06
Tamil Nadu                                2.892206e+08
Telangana                                 1.943930e+08
Tripura                                   6.457316e+07
Uttar Pradesh                             5.444619e+08
Uttarakhand                               9.903073e+07
West Bengal                               5.812081e+08